/*---- About Author ------*/
.testimonial-card {
    .testimonial-user {
        margin-top: -4rem;
    }
}
.testimonial-card, .card-up {
	border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}